<% if @results.nil? || @results.empty? %>
  <h2><%= @datacite_error %></h2>
<% else %>
  <%= form_tag('import_metadata', method: :get, remote: true) do %>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <caption>Choose one from below:</caption>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>DOI</th>
        <th>Creator</th>
        <th>Publisher</th>
        <th>Publication Year</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>

      <% @results['data'].each_with_index do |result, idx| %>
        <tr>
          <% if idx == 0 %>
            <td><%= radio_button_tag 'result', result, true %></td>
          <% else %>
            <td><%= radio_button_tag 'result', result %></td>
          <% end %>
          <td><%= result['attributes']["doi"] %></td>
          <td><%= result['attributes']['author'].map{|author| author['literal']}.join(', ') %> </td>
          <td>University Libraries, Virginia Tech</td>
          <td><%= result['attributes']['published'] %></td>
          <td><%= result['attributes']['title'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= submit_tag("Import Metadata") %>
  <% end %>
<% end %>

