<h2 class="sr-only">Actions</h2>
<div class="collection-controls">
  <% if can? :edit, @collection %>
    <div class="btn-group collection-control-row" role="group" aria-label="...">
      <%= link_to collections.edit_collection_path, class: "btn btn-default", title: "Edit this Collection" do %>
        <span class="glyphicon glyphicon-edit"></span> Edit
      <% end %>
      <%= link_to sufia.dashboard_files_path, class: "btn btn-default", title: "Add files to this Collection" do %>
        <span class="glyphicon glyphicon-open-file"></span> Files
      <% end %>
    </div>
    <% found_doi = false %>
    <% @collection[:identifier].each do |id| %>
      <% if id.match(/^doi/) %>
        <% if id == "doi:pending" %>
          <%= button_tag(type: 'submit', class: "btn btn-primary collection-control-row", disabled: 'disabled') do %>
            <span class="glyphicon glyphicon-tags"></span> DOI Request Pending
          <% end %>
        <% end %>
        <% found_doi = true %>
        <% break %>
      <% end %>
    <% end %>
    <% unless found_doi %> 
      <%= form_tag url_for(:controller => 'doi_requests', :action => 'create', :collection_id => @collection.id) do %>
        <%= button_tag(type: 'submit', class: "btn btn-primary collection-control-row") do %>
          <span class="glyphicon glyphicon-tags"></span> Request DOI
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
