<% @page_title = "DOI Requests" %>
<div class="doi_requests index">
  <h2>DOI Requests</h2>
  <div><%= pluralize(@doi_requests.size, 'request') %> found</div>

  <table class="listing" summary="DoiRequest list">
    <tr class="header">
      <th>Requested Time</th>
      <th>Asset Type</th>
      <th>Asset Title</th>
      <th>Completed</th>
      <th>DOI</th>
      <th>Actions</th>
    </tr>
    <% @doi_requests.each do |doi_request| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= doi_request.created_at %></td>
        <td><%= doi_request.asset_type %> </td>
        <td><%= doi_link_for(doi_request) %></td>
        <td class="center"><%= status_tag(doi_request.completed) %></td>
        <td class="center"><%= doi_request.ezid_doi %></td>
        <td class="actions">
          <% if doi_request.completed %>
            <%= link_to("Show DOI", {:action => 'show', :id => doi_request.id}, :class => 'action show') %>
            <%= link_to("Modify Metadata", {:action => 'modify_metadata', :id => doi_request.id, :ezid_doi => doi_request.ezid_doi}, :class => 'action modify_metadata') %>
            <%#= link_to("Delete", {:action => 'delete', :id => doi_request.id}, :class => 'action delete') %>
          <% else %>
            <%= link_to("Mint DOI", {:action => 'mint_doi', :id => doi_request.id}, :class => 'action mint_doi') %>
          <% end %>
        </td> 
      </tr>
    <% end %>
  </table>
</div>
