<% @page_title = "DOI Requests  - #{application_name}" %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<%= button_to_requests(params[:action]) %>
<div class="table-responsive">
  <table class="table doi-table table-striped table-hover">
    <thead>
      <tr>
        <th>Asset Title</th>
        <th>Asset Type</th>
        <th>Requested Time</th>        
        <th>Completed</th>
        <th>DOI</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @doi_requests.each do |doi_request| %>
        <tr>
          <td><%= doi_link_for(doi_request) %></td>
          <td><%= doi_request.asset_type %> </td>
          <td><%= doi_request.created_at %></td>          
          <td><%= status_tag(doi_request) %></td>
	  <td><%= doi_request.ezid_doi %></td>
	  <td><%= admin_dataset_download(doi_request) %><!-- temporarily disable doi requests<%= mint_or_view_doi_button(doi_request) %>--></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<hr />
<%= paginate @doi_requests %>
<%= page_entries_info @doi_requests %>
</div>
