<% @page_title = "DOI Requests" %>
<div class="doi_requests index">
  <h2>DOI Requests</h2>
  <div><%= pluralize(@doi_requests.size, 'request') %> found</div>

  <table class="listing" summary="DoiRequest list">
    <tr class="header">
      <th>Requested Time</th>
      <th>Asset Type</th>
      <th>Asset Title</th>
      <th>Completed</th>
      <th>DOI</th>
      <th>Actions</th>
    </tr>
    <% @doi_requests.each do |doi_request| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= doi_request.created_at %></td>
        <td><%= doi_request.asset_type %> </td>
        <td><%= doi_link_for(doi_request) %></td>
        <td class="center"><%= status_tag(doi_request.completed) %></td>
        <td class="center"><%= doi_request.ezid_doi %></td>
        <td class="actions">
          <% if doi_request.completed %>
            <%= link_to "View DOI", view_doi_doi_request_path(doi_request) %>
            <%= form_tag modify_metadata_doi_request_path(doi_request), :method => :patch do %>
              <%= submit_tag "Modify Metadata" %>
            <% end %>
          <% else %>
            <%= form_tag mint_doi_doi_request_path(doi_request), :method => :patch do %>
              <%= submit_tag "Mint DOI" %>
            <% end %>
          <% end %>
        </td> 
      </tr>
    <% end %>
  </table>
</div>
