<% current_tab ||= nil %>
<div class="col-xs-12 heading-row dashboard-breadcrumb">
  <% if can?(:create, GenericFile) %>
    <div class="col-xs-6 col-sm-3 heading-tile <%="active" if current_dashboard_tab?(:upload) %>">
      <%= link_to sufia.new_generic_file_path do %>
          <%= image_tag('upload.png') %><br>
          <%= t("sufia.dashboard.upload") %>
      <% end %>
    </div>
  <% end %>
  <div class="col-xs-6 col-sm-3 heading-tile <%="active" if current_dashboard_tab?(:describe) %>">
    <%= link_to sufia.dashboard_files_path  do %>
        <%= image_tag('describe.png') %><br>
        <%= t("sufia.dashboard.view_files") %>
    <% end %>
  </div>
  <% if can?(:create, Collection) %>
    <div class="col-xs-6 col-sm-3 heading-tile <%="active" if current_dashboard_tab?(:organize) %>">
      <%= link_to sufia.dashboard_collections_path, id: "hydra-collection-add" do %>
          <%= image_tag('organize.png') %><br>
          <%= t("sufia.dashboard.create_collection") %>
      <% end %>
    </div>
  <% end  %>
  <div class="col-xs-6 col-sm-3 heading-tile <%="active" if current_dashboard_tab?(:publish) %>">
    <%= link_to dashboard_publishables_path, id: "hydra-collection-view" do %>
        <%= image_tag('publish.png') %><br>
        <%= t("sufia.dashboard.publish") %>
    <% end %>
  </div>
</div>
