<%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to OSF Projects List".html_safe, "/files/new#osf", class: 'back_to_list_link' %>
<div class="osf-project">
  <h3><%= @project['attributes']['title'].html_safe %></h3>
  <div class="date">Created: <%= DateTime.parse(@project['attributes']['date_created']).strftime("%b %d %Y %k:%M:%N") %></div> 
  <div class="date">Last Modified: <%= DateTime.parse(@project['attributes']['date_modified']).strftime("%b %d %Y %k:%M:%N") %></div>
  <div class="contributors">Contributors:<br />
    <% @project['contributors'].each do | contributor | %>
      <span class="contributor"><%= contributor['name'] + (contributor['creator'] ? " - Creator" : "") %></span><br />
    <% end %>
  </div>
  <div class="permissions">My permissions: <%= @project['attributes']['current_user_permissions'].join(", ") %></div>
  <div class="visibility">Visibility: <%= @project['attributes']['public'] ? "Public" : "Private" %></div>
  <div class="links">
    <span><%= link_to "Import Project", import_route(@project['id']) %></span> | <span><%= link_to "View in OSF site", @project['links']['html'] %></span>
  </div>
</div>
