<% @page_title = "Publishable Datasets - #{application_name}" %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<%= render partial: 'dashboard/_index_partials/heading_actions.html.erb' %> 
<p>Please review our <%= link_to "Publishing Policy", "http://guides.lib.vt.edu/c.php?g=465788&p=3673547", {class: "publish-policy-link"} %> before requesting a DOI.</p>
<% if @publishables.empty?  %>
  <span>Nothing to publish</span>
<% else %>
  <div class="table-responsive">
    <table class="table table-actionable table-striped table-hover">
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @publishables.each do |publishable| %>
          <tr>
            <td><%= link_to publishable, "/collections/#{publishable.id}" %></td>
            <td class="text-center"><%= request_doi_link(publishable) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <hr />
  </div>
<% end %>
