<div id="masthead_controls" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="collapse navbar-collapse" id="main-navbar">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav">
              <li <%= 'class=active' if current_page?(root_path) %>><a href="/" >HOME</a></li>
              <% if current_user %>
              <li <%= 'class=active' if request.url.include? 'dashboard' %>><a href="/dashboard/" >DASHBOARD</a></li>
              <% end %>
              <li <%= 'class=active' if current_page?(sufia.about_path) %>><a href="/about/" >ABOUT</a></li>
              <li <%= 'class=active' if current_page?(help_path) %>><a href="/help/" >HELP</a></li>
              <li <%= 'class=active' if current_page?(sufia.contact_path) %>><a href="<%= sufia.contact_form_index_path %>" >CONTACT</a></li>
          </ul><!-- /.nav -->
        </nav><!-- /.navbar -->
      </div>
    </div>
  </div> <!-- /.row -->
</div><!-- /#masthead_controls -->
