<!-- Draws the top navigation for media-building-->

<nav class="navbar yamm navbar-default hidden-xs" id="vt_access_nav" role="navigation" aria-label="Main Navigation">
  <div id="nav-container" class="container">
    <div id="vt_main_nav" class="col-centered">
      <div id="navbar-collapse-1" class="navbar-collapse collapse yamm-content">
        <ul id="vt_main_nav_ul" class="nav navbar-nav flex menu nav-menu col-centered"> 
            
          <li id="vt_nav_home" class="nav-item">
            <a href="https://www.vt.edu/">Virginia Tech</a>
          </li>
          <% if current_user %>
            <li class="vt_nav_level_0 vt_nav_item_0 nav-item <%= 'active' if request.url.include? 'dashboard' %>">
              <%= link_to 'Dashboard', '/dashboard/', class: 'link-text' %>
            </li>
          <% end %>
          <li class="vt_nav_level_0 vt_nav_item_0 nav-item <%= 'active' if current_page?(sufia.about_path) %>">
            <%= link_to 'About', sufia.about_path, class: 'link-text' %>
          </li>
          <li class="vt_nav_level_0 vt_nav_item_0 nav-item <%= 'active' if current_page?(user_guides_path) %>">
            <%= link_to 'User Guide', user_guides_path, class: 'link-text' %>
          </li>
          <li class="vt_nav_level_0 vt_nav_item_0 nav-item <%= 'active' if current_page?(help_page_path) %>">
            <%= link_to 'Help', help_page_path, class: 'link-text' %>
          </li>
          <li class="vt_nav_level_0 vt_nav_item_0 nav-item <%= 'active' if current_page?(policies_path) %>">
            <%= link_to 'Policies', policies_path, class: 'link-text' %>
          </li>
        </ul>
      </div><!-- navbar-collapse-1 -->
    </div><!-- row  -->
  </div><!-- container  -->
</nav>
