<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
  </head>

<body>
<div  id="wrapper">
  <div class="container-fluid outer_container">
    <div id="page-positioner">
      <a href="#skip_to_content" class="sr-only">Skip to Content</a>
      <%= render partial: '/masthead' %>
      <div id="center-wrapper" class="col-xs-11 col-centered">
        <%= render partial: '/logo_title_row' %>

        <div class="masthead-search-wrapper col-xs-6 col-centered">
          <%= render partial: '/catalog/search_form' %>
        </div>

        <%= render partial: '/flash_msg' %>
        <div id="content-wrapper" class="container-fluid">
          <a name="skip_to_content"></a>
          <div id="content" class="row">
            <div class="col-xs-12">
              <%= yield %>
            </div>
          </div><!-- /#content -->
        </div><!-- /#content-wrapper -->
      </div><!-- end #center-wrapper -->
      <%= render partial: '/footer' %>
    </div><!-- /#page-positioner -->
  </div><!-- /.container -->
</div><!-- /#wrapper -->
<%= render 'shared/ajax_modal' %>
<% if current_page?(sufia.new_generic_file_path) %>
<script>
  Blacklight.onLoad(function() {
    TabHandler.run();
    window.onhashchange = TabHandler.run;
  });
</script>
<% end %>
</body>
</html>
